<div class="landing-body">
  <div id="meet-mirage" class="section">
    <div class="section-title">
      <h1>Centro de Educación Continua "Yavirac"</h1>
    </div>
    <div class="feature-cards">
      <div class="feature-card">
        <div class="feature-card-img">
          <i class="pi pi-align-justify" style="font-size: 5em;"></i>
        </div>
        <div class="feature-card-title">Programación Orientada a Objetos</div>
        <div class="feature-card-content">Progreso: Completado</div>
        <div class="feature-card-content">Calificación final 87.59</div>
        <div class="feature-card-content">
          <button
            type="button"
            label="Descargar mi certificado"
            pButton
            icon="pi pi-sign-in"
          ></button>
        </div>
      </div>
      <div class="feature-card">
        <div class="feature-card-img">
          <i class="pi pi-align-justify" style="font-size: 5em;"></i>
        </div>
        <div class="feature-card-title">Programación Orientada a Objetos</div>
        <div class="feature-card-content">Progreso: Incompleto</div>
        <div class="feature-card-content">Calificación final -</div>
        <div class="feature-card-content">
          <button
            type="button"
            label="Descargar mi certificado"
            pButton
            icon="pi pi-sign-in"
            disabled="true"
          ></button>
        </div>
      </div>

      <!-- <div class="feature-card">
        <div class="feature-card-img">
          <img
            src="assets/layout/images/pages/landing/asset-unlimited.svg"
            alt="mirage-layout"
          />
        </div>
        <div class="feature-card-title">Unlimited Possibilities</div>
        <div class="feature-card-content">
          Feature subtitle sentence. Lorem ipsum dolor sit amet.
        </div>
      </div> -->
    </div>
  </div>
</div>
