<div class="landing-body">
    <div id="meet-mirage" class="section">
        <div class="section-title">
            <h1>Instituto Superior Tecnológico Yavirac</h1>
            <p>¡Fortaleciendo Capacidades!</p>
        </div>
        <div class="feature-cards">
            <div class="feature-card">
                <div class="feature-card-img">
                    <i class="pi pi-list" style="font-size: 5em"></i>
                </div>
                <div class="feature-card-title">Formación Académica</div>
                <div class="feature-card-content">Matrículas, Estado Académico y más</div>
                <div class="feature-card-content">
                    <button type="button" label="Entrar" pButton icon="pi pi-users"
                            routerLink="/dashboard/formacion-academica"></button>
                </div>
            </div>
            <div class="feature-card">
                <div class="feature-card-img">
                    <i class="pi pi-users" style="font-size: 5em"></i>
                </div>
                <div class="feature-card-title">Titulación</div>
                <div class="feature-card-content">Nuestros Graduados y Futuros Profesionales</div>
                <div class="feature-card-content">
                    <button type="button" label="Entrar" pButton icon="pi pi-sign-in"
                            routerLink="/dashboard/formacion-academica"></button>
                </div>
            </div>
            <div class="feature-card">
                <div class="feature-card-img">
                    <i class="pi pi-globe" style="font-size: 5em"></i>
                </div>
                <div class="feature-card-title">Idiomas</div>
                <div class="feature-card-content">Yavirac English Center</div>
                <div class="feature-card-content">
                    <button type="button" label="Entrar" pButton icon="pi pi-sign-in"
                            routerLink="/dashboard/formacion-academica"></button>
                </div>

            </div>
            <!--            <div class="feature-card">-->
            <!--                <div class="feature-card-img">-->
            <!--                    <img src="assets/layout/images/pages/landing/asset-unlimited.svg" alt="mirage-layout"/>-->
            <!--                </div>-->
            <!--                <div class="feature-card-title">Unlimited Possibilities</div>-->
            <!--                <div class="feature-card-content">Feature subtitle sentence. Lorem ipsum dolor sit amet.</div>-->
            <!--            </div>-->
        </div>
    </div>
</div>
