<p-dialog header="Actividad" [(visible)]="display" modal="true" showEffect="fade"
          [style]="{width: '400px'}">
    <p style="margin-top: 1em; margin-bottom: 1em">{{actividadSeleccionada.name}}</p>
    <span>Porcentaje de Avance: </span>
    <p-inputNumber [(ngModel)]="actividadSeleccionada.percentage_advance" max="100" :min="1" maxlength="4"
                   spinnerMode="horizontal" step="5" suffix="%"></p-inputNumber>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" class="ui-button-success" (click)="display=false;registrar()"
                label="Registrar"></button>
    </p-footer>
</p-dialog>

<p-toast key="tst"></p-toast>

<div class="p-grid">
    <div class="p-lg-12 p-md-12 p-sm-12">
        <div class="card card-w-title">
            <h1>{{fechaActual|date:'fullDate'}}</h1>
            <div class="p-grid">
                <div class="p-lg-6 p-md-6 p-sm-12">
                    <button pButton type="button" class="ui-button-primary" icon="pi pi-calendar"
                            label="Iniciar Jornada"
                            style="margin-right: .5em" (click)="iniciarDocenteAsistencia('work','Jornada')"
                            *ngIf="jornadaActual.state_id == 0 || (jornadaActual.start_time==null && jornadaActual.end_time!=null)">
                    </button>
                    <button pButton type="button" class="ui-button-danger" icon="pi pi-calendar"
                            label="Finalizar Jornada"
                            style="margin-right: .5em" (click)="finalizarDocenteAsistencia(jornadaActual)"
                            *ngIf="jornadaActual.state_id == 1">
                    </button>
                    <button pButton type="button" class="ui-button-warning" label="Iniciar Almuerzo"
                            style="margin-right: .5em" (click)="iniciarDocenteAsistencia('lunch','Almuerzo')"
                            icon="pi pi-briefcase"
                            *ngIf="almuerzoActual.state_id == 0">
                    </button>
                    <button pButton type="button" class="ui-button-danger" icon="pi pi-briefcase"
                            label="Finalizar Almuerzo"
                            (click)="finalizarDocenteAsistencia(almuerzoActual)" *ngIf="almuerzoActual.state_id == 1">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-lg-12 p-md-12 p-sm-12">
        <div class="card card-w-title">
            <p-tabView>
                <p-tabPanel header="Resumen" leftIcon="pi pi-align-justify">
                    <p-table #dt [columns]="cols" styleClass="ui-table-cars" [value]="jornadaActividades"
                             [paginator]="true" [responsive]="true"
                             [rows]="9" dataKey="id" selectionMode="single" [(selection)]="selectedCar">
                        <ng-template pTemplate="caption">
                            <div class="p-grid">
                                <div class="p-lg-4 p-md-4 p-sm-12 p-lg-offset-2 p-md-offset-2">
                                    <i *ngIf="jornadaActual.end_time != null && jornadaActual.start_time!=null"
                                       class="pi pi-calendar">
                                        | Total horas Jornada: {{totalHorasTrabajadas|date:'HH:mm:ss'}}
                                    </i>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th style="width: 12em; text-align: center;">
                                    <button pButton type="button" icon="pi pi-cog"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    <span class="ui-column-title">{{col.header}}</span>
                                    <i class="{{rowData.type.icon}}"
                                       *ngIf="col.field =='description'"> {{rowData[col.field]}}
                                    </i>
                                    <span *ngIf="col.field !='description'">{{rowData[col.field]}}</span>
                                </td>
                                <td style="width: 12em; text-align: center;">
                                    <button pButton type="button" class="ui-button-danger"
                                            (click)="eliminarJornadaActividad(rowData)"
                                            icon="pi pi-trash"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Calendario" leftIcon="pi pi-calendar">
                    <p-fullCalendar [events]="events" [options]="fullCalendarOptions"></p-fullCalendar>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <!--    <div class="p-lg-12 p-md-12 p-sm-12">-->
    <!--        <h1>-->
    <!--            <i class="pi pi-list"></i>-->
    <!--            | Registro de Actividades Diarias-->
    <!--        </h1>-->
    <!--        <p-accordion>-->
    <!--            <p-accordionTab header="Actividades Académicas">-->
    <!--                <p-table [columns]="colsActividades" [value]="docenteActividadesAcademicoItems"-->
    <!--                         [(selection)]="actividadSeleccionada" selectionMode="single"-->
    <!--                         [responsive]="true" dataKey="type_id">-->
    <!--                    <ng-template pTemplate="header" let-columns>-->
    <!--                        <tr>-->
    <!--                            <th *ngFor="let col of columns">-->
    <!--                                {{col.header}}-->
    <!--                            </th>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">-->
    <!--                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" (click)="display=true">-->
    <!--                            <td *ngFor="let col of columns" >-->
    <!--                                <span *ngIf="col.field=='name'">{{rowData[col.field]}}</span>-->
    <!--                                <span *ngIf="col.field=='percentage_advance'">{{rowData[col.field]}}</span>-->
    <!--                            </td>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="summary">-->
    <!--                        <ul>-->
    <!--                            <li *ngFor="let car of actividadesAcademicoSeleccionadas" style="text-align: left">-->
    <!--                                {{car.percentage_advance}}%  {{car.name}}-->
    <!--                            </li>-->
    <!--                        </ul>-->
    <!--                    </ng-template>-->
    <!--                </p-table>-->
    <!--            </p-accordionTab>-->
    <!--            <p-accordionTab header="Actividades Investigación">-->
    <!--                <p-table [columns]="colsActividades" [value]="docenteActividadesInvestigacionItems"-->
    <!--                         [(selection)]="actividadesInvestifacionSeleccionadas"-->
    <!--                         [responsive]="true" dataKey="type_id">-->
    <!--                    <ng-template pTemplate="header" let-columns>-->
    <!--                        <tr>-->
    <!--                            <th style="width: 3em">-->
    <!--                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
    <!--                            </th>-->
    <!--                            <th *ngFor="let col of columns">-->
    <!--                                {{col.header}}-->
    <!--                            </th>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="body" let-rowData let-columns="columns">-->
    <!--                        <tr>-->
    <!--                            <td>-->
    <!--                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
    <!--                            </td>-->
    <!--                            <td *ngFor="let col of columns">-->
    <!--                                <span *ngIf="col.field=='name'">{{rowData[col.field]}}</span>-->
    <!--                                <p-inputNumber *ngIf="col.field!='name'"-->
    <!--                                               [(ngModel)]="rowData[col.field]"-->
    <!--                                               (focusout)="guardarActividades(rowData['name'])"-->
    <!--                                               max="100" :min="1"-->
    <!--                                               maxlength="4"-->
    <!--                                               spinnerMode="horizontal"-->
    <!--                                               step="5"-->
    <!--                                               suffix="%"></p-inputNumber>-->
    <!--                            </td>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="summary">-->
    <!--                        <ul>-->
    <!--                            <li *ngFor="let car of actividadesInvestifacionSeleccionadas" style="text-align: left">-->
    <!--                                {{car.percentage_advance}}% {{car.name}}-->
    <!--                            </li>-->
    <!--                        </ul>-->
    <!--                    </ng-template>-->
    <!--                </p-table>-->
    <!--            </p-accordionTab>-->
    <!--            <p-accordionTab header="Actividades Administrativas">-->
    <!--                <p-table [columns]="colsActividades" [value]="docenteActividadesAdministrativoItems"-->
    <!--                         [(selection)]="actividadesAdministrativoSeleccionadas"-->
    <!--                         [responsive]="true" dataKey="type_id">-->
    <!--                    <ng-template pTemplate="header" let-columns>-->
    <!--                        <tr>-->
    <!--                            <th style="width: 3em">-->
    <!--                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
    <!--                            </th>-->
    <!--                            <th *ngFor="let col of columns">-->
    <!--                                {{col.header}}-->
    <!--                            </th>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="body" let-rowData let-columns="columns">-->
    <!--                        <tr>-->
    <!--                            <td>-->
    <!--                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
    <!--                            </td>-->
    <!--                            <td *ngFor="let col of columns">-->
    <!--                                <span *ngIf="col.field=='name'">{{rowData[col.field]}}</span>-->
    <!--                                <p-inputNumber *ngIf="col.field!='name'"-->
    <!--                                               [(ngModel)]="rowData[col.field]"-->
    <!--                                               (focusout)="guardarActividades(rowData['name'])"-->
    <!--                                               max="100" :min="1"-->
    <!--                                               maxlength="4"-->
    <!--                                               spinnerMode="horizontal"-->
    <!--                                               step="5"-->
    <!--                                               suffix="%"></p-inputNumber>-->
    <!--                            </td>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="summary">-->
    <!--                        <ul>-->
    <!--                            <li *ngFor="let car of actividadesAdministrativoSeleccionadas" style="text-align: left">-->
    <!--                                {{car.percentage_advance}}% {{car.name}}-->
    <!--                            </li>-->
    <!--                        </ul>-->
    <!--                    </ng-template>-->
    <!--                </p-table>-->
    <!--            </p-accordionTab>-->
    <!--            <p-accordionTab header="Actividades Vinculación">-->
    <!--                <p-table [columns]="colsActividades" [value]="docenteActividadesVinculacionItems"-->
    <!--                         [(selection)]="actividadesVinculacionSeleccionadas"-->
    <!--                         [responsive]="true" dataKey="type_id">-->
    <!--                    <ng-template pTemplate="header" let-columns>-->
    <!--                        <tr>-->
    <!--                            <th style="width: 3em">-->
    <!--                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
    <!--                            </th>-->
    <!--                            <th *ngFor="let col of columns">-->
    <!--                                {{col.header}}-->
    <!--                            </th>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="body" let-rowData let-columns="columns">-->
    <!--                        <tr>-->
    <!--                            <td>-->
    <!--                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
    <!--                            </td>-->
    <!--                            <td *ngFor="let col of columns">-->
    <!--                                <span *ngIf="col.field=='name'">{{rowData[col.field]}}</span>-->
    <!--                                <p-inputNumber *ngIf="col.field!='name'"-->
    <!--                                               [(ngModel)]="rowData[col.field]"-->
    <!--                                               (focusout)="guardarActividades(rowData['name'])"-->
    <!--                                               max="100" :min="1"-->
    <!--                                               maxlength="4"-->
    <!--                                               spinnerMode="horizontal"-->
    <!--                                               step="5"-->
    <!--                                               suffix="%"></p-inputNumber>-->
    <!--                            </td>-->
    <!--                        </tr>-->
    <!--                    </ng-template>-->
    <!--                    <ng-template pTemplate="summary">-->
    <!--                        <ul>-->
    <!--                            <li *ngFor="let car of actividadesVinculacionSeleccionadas" style="text-align: left">-->
    <!--                                {{car.percentage_advance}}%  {{car.name}}-->
    <!--                            </li>-->
    <!--                        </ul>-->
    <!--                    </ng-template>-->
    <!--                </p-table>-->
    <!--            </p-accordionTab>-->
    <!--        </p-accordion>-->
    <!--    </div>-->
</div>
