<div class="landing-body">
  <div id="meet-mirage" class="section">
    <div class="section-title">
      <h1>Centro de Educación Continua "Yavirac"</h1>
    </div>
  </div>
  <!-- <div class="p-grid"> -->
  <div class="p-col-12">
    <div class="card card-w-title">
      <p-table
        #dt
        [columns]="cols"
        styleClass="ui-table-cars"
        [value]="cars1"
        [paginator]="true"
        [rows]="10"
        dataKey="vin"
        selectionMode="single"
        [(selection)]="selectedCar"
      >
        <ng-template pTemplate="caption">
          DataTable
          <div class="ui-table-globalfilter-container">
            <input
              type="text"
              pInputText
              size="50"
              placeholder="Global Filter"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              style="width: 250px;"
            />
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              [pSortableColumn]="col.field"
              [ngSwitch]="col.field"
            >
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="width: 8em; text-align: center;">
              <button pButton type="button" icon="pi pi-cog"></button>
            </th>
          </tr>
          <tr>
            <th
              *ngFor="let col of columns"
              [ngSwitch]="col.field"
              style="padding: 0.5em;"
            >
              <input
                *ngSwitchCase="'vin'"
                pInputText
                type="text"
                placeholder="Starts with"
                class="ui-column-filter"
                style="width: 100%; margin-top: 0;"
                (input)="
                  dt.filter($event.target.value, col.field, 'startsWith')
                "
              />
              <input
                *ngSwitchCase="'year'"
                pInputText
                type="text"
                placeholder="Contains"
                class="ui-column-filter"
                style="width: 100%; margin-top: 0;"
                (input)="dt.filter($event.target.value, col.field, 'contains')"
              />
              <p-dropdown
                *ngSwitchCase="'brand'"
                appendTo="body"
                [options]="brands"
                styleClass="ui-column-filter"
                [showClear]="true"
                [style]="{
                  'min-width': '1em',
                  width: '100%',
                  'margin-top': '0'
                }"
                placeholder="Select a Brand"
                (onChange)="dt.filter($event.value, col.field, 'equals')"
              >
                <ng-template let-item pTemplate="selectedItem">
                  <img
                    src="assets/demo/images/car/{{ item.label }}.png"
                    style="width: 16px; vertical-align: middle;"
                  />
                  <span style="vertical-align: middle; margin-left: 0.5em;">{{
                    item.label
                  }}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                  <div
                    class="ui-helper-clearfix"
                    style="position: relative; height: 25px;"
                  >
                    <img
                      src="assets/demo/images/car/{{ car.label }}.png"
                      style="
                        width: 24px;
                        position: absolute;
                        top: 1px;
                        left: 5px;
                      "
                    />
                    <div
                      style="font-size: 14px; float: right; margin-top: 4px;"
                    >
                      {{ car.label }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <p-multiSelect
                *ngSwitchCase="'color'"
                [options]="colors"
                [filter]="false"
                styleClass="ui-column-filter"
                [style]="{ width: '100%', 'margin-top': '0' }"
                defaultLabel="Select a color"
                (onChange)="dt.filter($event.value, col.field, 'in')"
              ></p-multiSelect>
            </th>
            <th style="width: 8em;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
            <td>{{ rowData.vin }}</td>
            <td>{{ rowData.year }}</td>
            <td>
              <img
                src="assets/demo/images/car/{{ rowData.brand }}.png"
                style="width: 50px; margin-right: 1em; vertical-align: middle;"
              />
              {{ rowData.brand }}
            </td>
            <td>{{ rowData.color }}</td>
            <td>
              <button
                pButton
                type="button"
                class="ui-button-success"
                icon="pi pi-search"
                style="margin-right: 0.5em;"
              ></button>
              <button
                pButton
                type="button"
                class="ui-button-warning"
                icon="pi pi-pencil"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- </div> -->
  </div>
</div>
