<p-orderList [value]="opportunities" [listStyle]="{'height':'350px'}" header="Cars" filterBy="brand" filterPlaceholder="Filter by brand"
             dragdrop="true">
    <ng-template let-opportunity pTemplate="item">
<!--        <div class="ui-helper-clearfix">-->
<!--            <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;float: right;margin:2px 0 2px 2px; visibility: hidden" width="48">-->
<!--            <div style="font-size:14px;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>-->
<!--        </div>-->
        <div class="ui-helper-clearfix">
            <h2>Contactos</h2>
            <div style="font-size:14px;margin:15px 5px 0 0">asdasd</div>
            <p> {{ opportunity.contact }} </p>
            <p> {{ opportunity.email }} </p>
            <p> {{ opportunity.phone }} </p>
            <p> {{ opportunity.cell_phone }} </p>
        </div>

    </ng-template>
</p-orderList>