<div class="landing-body">
    <div id="meet-mirage" class="section">
        <div class="section-title">
            <h1>Formación Académica</h1>
        </div>
        <div class="feature-cards">
            <div class="feature-card">
                <div class="feature-card-img">
                    <i class="pi pi-id-card" style="font-size: 5em"></i>
                </div>
                <div class="feature-card-title">Matrículas</div>
                <div class="feature-card-content">Matrículados 1240</div>
                <div class="feature-card-content">
                    <button type="button" label="Entrar" pButton icon="pi pi-sign-in"
                            routerLink="/dashboard/matriculas"></button>
                </div>
            </div>
            <div class="feature-card">
                <div class="feature-card-img">
                    <i class="pi pi-chart-bar" style="font-size: 5em"></i>
                </div>
                <div class="feature-card-title">Estado Académico</div>
                <div class="feature-card-content">
                    Aprobados: 1200 | Reprobados: 40
                </div>
                <div class="feature-card-content">
                    <button type="button" label="Entrar" pButton icon="pi pi-sign-in" routerLink="/dashboard/estado-academico"></button>
                </div>
            </div>
            <div class="feature-card">
                <div class="feature-card-img">
                    <i class="pi pi-align-justify" style="font-size: 5em"></i>
                </div>
                <div class="feature-card-title">Mis Asignaturas</div>
                <div class="feature-card-content">Mis asignaturas actuales</div>
                <div class="feature-card-content">
                    <button type="button" label="Entrar" pButton icon="pi pi-sign-in"></button>
                </div>

            </div>
            <!--            <div class="feature-card">-->
            <!--                <div class="feature-card-img">-->
            <!--                    <img src="assets/layout/images/pages/landing/asset-unlimited.svg" alt="mirage-layout"/>-->
            <!--                </div>-->
            <!--                <div class="feature-card-title">Unlimited Possibilities</div>-->
            <!--                <div class="feature-card-content">Feature subtitle sentence. Lorem ipsum dolor sit amet.</div>-->
            <!--            </div>-->
        </div>
    </div>
</div>
