<div class="landing-body">
  <div id="meet-mirage" class="section">
    <div class="section-title">
      <h1>Centro de Educación Continua "Yavirac"</h1>
    </div>
    <div class="section-title">
      <h1>Historiales Académicos</h1>
    </div>
    <div class="feature-cards">
      <div class="feature-card">
        <div class="feature-card-img">
          <i class="pi pi-id-card" style="font-size: 5em"></i>
        </div>
        <div class="feature-card-title">Ver Historiales</div>
        <div class="feature-card-content">Historiales cargados 1240</div>
        <div class="feature-card-content">
          <button
            type="button"
            label="Entrar"
            pButton
            icon="pi pi-sign-in"
            routerLink="/cecy/academic-records/see-academic-records"
          ></button>
        </div>
      </div>
      <div class="feature-card">
        <div class="feature-card-img">
          <i class="pi pi-chart-bar" style="font-size: 5em"></i>
        </div>
        <div class="feature-card-title">Añadir Historial Académico</div>
        <!-- <div class="feature-card-content">Cursos disponibles 50</div> -->
        <div class="card">
          <h4>Subir Matriz</h4>

          <p-fileUpload
            name="demo[]"
            url="./upload.php"
            (onUpload)="onUpload($event)"
            multiple="multiple"
            accept="image/*"
            maxFileSize="1000000"
          >
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </div>
  </div>
</div>
