<div class="landing-body">
  <div id="meet-mirage" class="section">
    <div class="section-title">
      <h1>Centro de Educación Continua "Yavirac"</h1>
    </div>
    <div class="section-title">
      <h1>Detalle Historial Académico</h1>
    </div>
    <!-- <div class="feature-cards">
      <div *ngFor="let item of coursesList" class="feature-card">
        <div class="feature-card-img">
          <i class="pi pi-align-justify" style="font-size: 5em"></i>
        </div>
        <div class="feature-card-title">{{ item.course_name }}</div>
        <div class="feature-card-content">{{ item.photo }}</div>
        <div class="feature-card-content">
          <button
            type="button"
            label="Más información"
            pButton
            icon="pi pi-sign-in"
          ></button>
        </div>
      </div>
    </div> -->
  </div>
  <!-- <button
         type="button"
         label="createCRUD"
         pButton
         icon="pi pi-sign-in"
         (click)="guardar()"
       ></button>
       <button
         type="button"
         label="updateCRUD"
         pButton
         icon="pi pi-sign-in"
         (click)="actualizar()"
       ></button>
       <button
         type="button"
         label="eliminarCRUD"
         pButton
         icon="pi pi-sign-in"
         (click)="eliminar()"
       ></button> -->
</div>
